@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption|Permanent+Marker|Righteous&subset=cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');
/*general styles*/
body{
    width: 100%;
    font-family: 'Righteous', cursive; 
}
a{
    outline: none;
    text-decoration: none;
    color: #4D6680;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box; 
}
/*header styles*/
header{
    background-image: url("../img/welcome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #50838e;
    flex-grow: 1;
}
.headerTop {
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
}
.topNav li{
    list-style-type: none;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.topNav a{
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}
.topNav a:hover{
    color: #609fac;
    border-bottom: 3px solid #609fac;
    transition: 0.2s;
}
.logo {
    margin-left: 30px;
    font-family:'Permanent Marker', cursive;
    font-size: 35px;
    color:#4D6680;
}
.welcome{
    flex-grow: 1;
	align-items:center;
	justify-content:center;
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 62px;

}
/*footer styles*/
footer{
    flex-grow: 0;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#4D6680;
    color: #aabdd1;
    text-align: center;
}
.admin a{
    color: #aabdd1;
}