@import url("styles.css");
/*general styles*/

/*header styles*/
header {
  background-image: url("../img/welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  flex-grow: 1 auto;
}
.headerTop {
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  flex: 30%;
  margin-left: 30px;
  font-family: "Permanent Marker", cursive;
  font-size: 35px;
  color: #4d6680;
}
.enter {
margin-right: 10px;
}
.login input {
  border-radius: 3px;
}
.welcome {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 46px;
  line-height: 62px;
  margin-bottom: 15%;
  color: #06f0a2fd;
}
.search {
  font-size: 35px;
}
.search input {
  border-radius: 7px;
}
.down {
  flex-grow: 0;
  font-size: 98px;
  width: 60px;
  height: 50px;
  margin-left: -30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
}
.down a {
  color: #06f0a2fd;
}
/*main styles start*/
main {
  flex-grow: 1 auto;
  background-color: #aabdd1;
  box-sizing: border-box;
}
main a {
  color: #cccccc;
}
/*navigation styles start*/
aside {
  flex: 20%;
}
.menu {
  background-color: #4d6680;
  line-height: 180%;
  padding-right: 25px;
  font-size: 17px;
  font-weight: 600;
}
.menu li {
  list-style-type: none;
}
.menu a {
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
.menu a:hover {
  color: #06f0a2fd;
  border-bottom: 2px solid #06f0a2fd;
  transition: 0.2s;
}
.articles {
  flex: 80%;
  line-height: 1.8;
  box-sizing: border-box;
}
.page-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.article-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0;
  margin: 10px 0 0 0;
}
.article-holder article {
  background: #ffffff;
  margin: 10px 0 0 0;
  flex-basis: calc(50% - 4px);
}
/*animation*/

.articleImage {
  position: relative;
  font-size: 25px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.articleImage img {
  width: 100%;
  height: 100%;
}
.hidden {
  opacity: 0;
}
.articleImage:hover .hidden {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.863);
  transition: 0.2s;
  transform: translateZ(0);
}
.hidden .articleDescription {
  position: absolute;
  top: 5%;
  left: 5%;
}
/*end*/
.moreItems {
  border: 1px solid #aabdd1;
  border-radius: 7px;
  background-color: #edecf2;
  margin: 10px auto 20px;
  padding: 15px 25px;
  display: table;
  text-transform: uppercase;
  color: #4d6680;
  cursor: pointer;
  transition: 0.2s;
}
.moreItems:hover {
  background-color: #06f0a2fd;
  color: #edecf2;
  transition: 0.2s;
}
