@import url("styles.css");

/*HEADER STYLES*/
header {
  background-image: url("../img/welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
#headerTop {
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 13%;
  z-index:999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
/*.dropdown-menu{
	width: 300px;
	border: 1px solid #ccc;
	display: none;
}*/

.welcome {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 46px;
  line-height: 62px;
  color: #06f0a2fd;
}
/*STYLES FOR SEARCH*/
.search {
  font-size: 30px;
}
.search input {
  border-radius: 7px;
}
.searchHolder {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
}
.autoFillBar {
  background: #d0cee5;
  width: 100%;
  position: absolute;
  top: 55px;
  z-index: 9;
  border-radius: 5px;
  overflow: hidden;
}
.autoFillBar .item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  color: #1e1d26;
  transition: .2s;
  cursor: pointer;
  font-size: 18px;
}
.autoFillBar .item:hover, .autoFillBar .item.active {
  background: #e5e3f9;
  transition: .2s;
}
.highlighted {
  background: #ffe47d;}

/*MAIN STYLES START*/
main {
  background-color: #aabdd1;
  box-sizing: border-box;
}
main a {
  color: #cccccc;
}
.article-holder {
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 10px 0 0 0;
}
.article-holder article {
  background: #ffffff;
  margin: 10px 0 0 0;
  flex-basis: calc(33% - 4px);
}
/*ARTICLE'S STYLES*/
.articleImage {
  position: relative;
  font-size: 25px;
  width: 100%;
  height: 100%;
}
.articleImage img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.hidden {
  opacity: 0;
}
.articleImage:hover .hidden {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.863);
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.hidden .articleDescription {
  position: absolute;
  top: 5%;
  left: 5%;
}
/*end*/
.moreItems {
  border: 1px solid #aabdd1;
  border-radius: 7px;
  background-color: #edecf2;
  margin: 10px auto 20px;
  padding: 15px 25px;
  display: table;
  text-transform: uppercase;
  color: #4d6680;
  cursor: pointer;
  transition: 0.2s;
}
.moreItems:hover {
  background-color: #06f0a2fd;
  color: #edecf2;
  transition: 0.2s;
}

