@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption|Permanent+Marker|Righteous&subset=cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

/*general styles*/
body{
    width: 100%;
    font-family: 'Righteous', cursive; 
}
a{
    outline: none;
    text-decoration: none;
}
input{
    border: 1px solid #cccccc; 
    background:rgb(241, 240, 246) !important; 
    outline: none;
    font-family: 'Righteous', cursive;
    color: #4D6680;
}
input:focus {
    color: #000000d5;
    border: 1px solid lightslategray;
  }
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box; 
}
/*header styles*/
header{
    background-image: url("../img/welcome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #50838e;
}
.headerTop {
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 30px;
    font-family:'Permanent Marker', cursive;
    font-size: 35px;
    color:#4D6680;
}
.enter{
    margin-right: 10px;
}
.login input{
    border-radius: 3px; 
}
.welcome{
    flex-grow: 1;
	align-items:center;
	justify-content:center;
    text-align: center;
    font-size: 46px;
    line-height: 62px;
    margin-bottom: 15%;
}
.search{
    font-size:35px; 
}
.search input{
    border-radius: 5px; 
}
.down{
    flex-grow: 0;
    font-size: 98px;
	width: 60px;
	height:50px;
	margin-left: -30px;
	position: absolute;
	bottom: 50px;
	left: 50%
}
.down a{
    color: #50838e;
}
/*main styles start*/
main{
    flex-grow: 1 auto;
    background-color: #aabdd1;
}
main a{
    color: #cccccc;
}
/*navigation styles start*/
.menu{
    background-color:#4D6680;
    line-height: 180%;
    padding-right: 25px;
    font-size: 17px; 
    font-weight: 600;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}
.menu a:hover{
    color: #fff ;
    border-bottom: 2px solid #fff;
    transition: 0.2s;
}
.articles{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.articleItem{
    flex-basis: 47%;
    background-color: #edecf2;
    margin-bottom: 30px;
    border-radius: 5px;
}
.articleItem:hover .articleDescription1{
    opacity: 1;
}
.articleItem:hover .articleImage{
    opacity: 0;
    transition: 0.2s;
}
.articleImage{
   position: absolute;
}
.articleDescription1{
    opacity: 0;
    position: relative; 
}
.moreItems{
    border: 1px solid #aabdd1;
    border-radius: 5px;
    background-color: #edecf2;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #4D6680;
    cursor: pointer;
    transition: 0.2s;
}
.moreItems:hover{
    background-color:#4D6680 ;
    color: #edecf2;
    transition: 0.2s;
}
/*fooer styles start*/
footer{
    flex-grow: 0;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#4D6680;
    color: #aabdd1;
}
.warning{
    text-align: center;
}
.admin a{
    color: #aabdd1;
}